**/node_modules
**/.next
**/out
**/target
**/app.log
**/public/documents/
**/src/main/resources/static/documents/

# Maven / Java
*.class
*.jar
*.war
*.ear
*.rar

# Databases & WAL files
*.db
*.db-shm
*.db-wal
tenders.db

# OS / IDE files
.DS_Store
.idea/
*.iml
.classpath
.project
.settings/

# Logs
*.log
client-package/
public/documents/
